<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name=".MyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bnuboy.index.IndexActivity"></activity>
    	<activity android:name="com.bnuboy.index.IndexNavActivity"></activity>
    	<activity android:name="com.bnuboy.topten.ToptenListActivity"></activity>
    	<activity android:name="com.bnuboy.content.ContentActivity"></activity>
    	<activity android:name="com.bnuboy.index.NavActivity"></activity>
    	<activity android:name="com.bnuboy.second.SecondListActivity"></activity>
    	<activity android:name="com.bnuboy.third.ThirdListActivity"></activity>
    	<activity android:name="com.bnuboy.login.LoginActivity"></activity>
    	<activity android:name="com.bnuboy.reply.ReplyActivity"></activity>
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
	
</manifest>